sentence-transformers==3.3.1
torch==2.5.1
transformers==4.46.3
faiss-cpu==1.9.0.post1
pandas==2.2.3
numpy==2.0.2
tqdm==4.67.1
pyyaml==6.0.2
fastapi==0.115.6
uvicorn==0.32.1
gunicorn==23.0.0
flask==3.0.3
flask-cors==5.0.0
